In [1]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd
import pytz

In [18]:
timezone = pytz.timezone("Etc/UTC")
utc_from = datetime(2016, 12, 31, tzinfo=timezone)
def download_cotacao(ticker):  
    rates = mt5.copy_rates_from(ticker, mt5.TIMEFRAME_D1, utc_from, 1800) #baixa dados
    dados = pd.DataFrame(rates) #cria dataframe
    dados = dados[['time','close']] 
    dados.columns = ['time', ticker] #muda nome colunas 
    dados['time']=pd.to_datetime(dados['time'], unit='s')
    dados = dados.set_index('time')
    dados = dados[ticker]    
    return dados

In [19]:
mt5.initialize()
ltt = ['IBOV','ABEV3', 'BBAS3', 'BBDC3', 'BBDC4', 'BBSE3', 'BRAP4', 'BRFS3', 'BRKM5', 'BRML3', 'B3SA3', 'CCRO3', 'CIEL3', 'CMIG4', 'CPFE3', 'CPLE6', 'CSAN3', 'CSNA3', 'CYRE3', 'ECOR3', 'EGIE3', 'ELET3', 'EMBR3', 'ENBR3', 'EQTL3', 'YDUQ3', 'SUZB3', 'GGBR4', 'GOAU4', 'HYPE3', 'ITSA4', 'ITUB4', 'JBSS3', 'KLBN11', 'COGN3', 'LAME4', 'LREN3', 'MRFG3', 'MRVE3', 'MULT3', 'NTCO3', 'PETR3', 'PETR4', 'QUAL3', 'RADL3', 'RENT3', 'RAIL3', 'SANB11', 'SBSP3', 'SMLS3', 'SUZB3', 'TIMP3', 'UGPA3', 'USIM5', 'VALE3', 'VIVT4', 'WEGE3']
dic = {}
for i in ltt:
    try: 
        dic[i] = (download_cotacao(i))
    except:
        print('erro com ',i)

In [20]:
todos_dados_do_dic = []
primeiro_df = True
for k,v in dic.items():
    if primeiro_df:
        dados = dic[k].copy()
        primeiro_df = False
    else:
        dados = pd.concat([dados,dic[k]],axis=1,join='outer')

In [21]:
dados

,IBOV,ABEV3,BBAS3,BBDC3,BBDC4,BBSE3,BRAP4,BRFS3,BRKM5,BRML3,...,RAIL3,SANB11,SBSP3,SMLS3,TIMP3,UGPA3,USIM5,VALE3,VIVT4,WEGE3
time,,,,,,,,,,,,,,,,,,,,,
2009-09-22,61493.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-09-23,60496.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-09-24,60046.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-09-25,60356.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-09-28,61317.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-23,57937.0,14.80,23.47,15.16,15.12,19.97,12.45,46.48,30.02,9.31,...,5.93,22.34,24.62,35.15,7.09,30.21,3.84,22.90,33.50,10.81
2016-12-26,58620.0,14.97,23.84,15.47,15.39,20.03,12.91,47.15,29.82,9.40,...,6.00,22.70,25.10,35.21,7.12,30.26,3.89,23.63,33.70,10.71
2016-12-27,58697.0,14.90,24.01,15.51,15.24,19.72,12.79,47.25,30.21,9.55,...,6.01,22.81,24.74,36.11,7.11,30.42,3.98,23.51,33.70,10.89
2016-12-28,59782.0,15.02,24.31,15.87,15.79,20.51,13.19,47.66,31.17,9.47,...,6.16,24.01,25.18,36.54,7.22,30.83,3.95,24.26,33.98,10.91
2016-12-29,60227.0,15.17,24.66,16.16,16.05,20.74,12.91,48.25,31.05,9.63,...,6.15,24.29,25.84,36.52,7.30,31.38,3.98,23.35,34.55,11.28

In [30]:
dados = dados[314:]

In [32]:
dados.to_excel('teste_pares.xlsx')