In [366]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt 
import seaborn
import statsmodels.api as sm
from scipy.stats import zscore
from statsmodels import regression
from statsmodels.tsa.stattools import coint

In [367]:
data = pd.read_excel('/home/daniel/Desktop/Projetos/mql_python/Relatório 1/dados_relatorio.xlsx')
# tickers = ['close IBOV', 'close ABEV3', 'close B3SA3', 'close BBAS3', 'close BBDC3', 'close BBDC4', 'close BEEF3', 'close BRAP4', 'close BRFS3', 'close BRKM5', 'close BRML3', 'close BTOW3', 'close CCRO3', 'close CIEL3', 'close CMIG4', 'close COGN3', 'close CPFE3', 'close CSAN3', 'close CSNA3', 'close CYRE3', 'close ECOR3', 'close ELET3', 'close ELET6', 'close EMBR3', 'close ENBR3', 'close EQTL3', 'close FLRY3', 'close GGBR4', 'close GOAU4', 'close GOLL4', 'close HGTX3', 'close HYPE3', 'close IGTA3', 'close ITSA4', 'close ITUB4', 'close JBSS3', 'close LAME4', 'close LREN3', 'close MGLU3', 'close MRFG3', 'close MRVE3', 'close MULT3', 'close NTCO3', 'close PETR3', 'close PETR4', 'close QUAL3', 'close RADL3', 'close RAIL3', 'close RENT3', 'close SANB11', 'close SBSP3', 'close SULA11', 'close SUZB3', 'close TIMP3', 'close TOTS3', 'close UGPA3', 'close USIM5', 'close VALE3', 'close VIVT4', 'close WEGE3', 'close YDUQ3']
# dados = data[tickers]

In [368]:
tickers = ['close IBOV', 'close B3SA3', 'close BBAS3', 'close BBDC4','close ITSA4']
dados = data[tickers][:400]

In [369]:
dados

     close IBOV  close B3SA3  close BBAS3  close BBDC4  close ITSA4
0         59265         7.31        14.71         9.69         3.82
1         59365         7.44        14.64         9.71         3.82
2         58546         7.36        14.48         9.65         3.81
3         58600         7.47        14.12         9.77         3.83
4         59083         7.59        14.23         9.79         3.85
..          ...          ...          ...          ...          ...
395       49860         9.22        15.29        10.12         3.68
396       50299         9.35        15.53        10.28         3.77
397       50601         9.35        15.79        10.53         3.80
398       50896         9.12        15.88        10.42         3.73
399       50908         9.07        15.70        10.28         3.72

[400 rows x 5 columns]

In [370]:
import time

start = time.process_time()
s = 0
for index in dados.index:
    for stock in dados.columns:
        s+=1
#         print(dados[stock][dados.index == index].values[0])
# your code here    
print(time.process_time() - start)

0.001144812000006823

In [371]:
start = time.process_time()
s =0 
for stock in dados.columns:
    for index in dados.index:
        s+=1
#         print(stock)
#         print(dados[stock][dados.index == index].values[0])
        
print(time.process_time() - start)

0.0004219600000396895

In [372]:
momentaneo = dados.copy()

In [373]:
mom = np.log(momentaneo).pct_change()[1:]
dados = dados[1:]
mom

     close IBOV  close B3SA3  close BBAS3  close BBDC4  close ITSA4
1      0.000153     0.008861    -0.001774     0.000908     0.000000
2     -0.001264    -0.005387    -0.004095    -0.002727    -0.001956
3      0.000084     0.007432    -0.009420     0.005452     0.003914
4      0.000748     0.007925     0.002931     0.000897     0.003879
5      0.001107     0.010293     0.007857     0.000895     0.011471
..          ...          ...          ...          ...          ...
395    0.001746    -0.015127     0.008065     0.004309     0.004200
396    0.000810     0.006303     0.005711     0.006777     0.018545
397    0.000553     0.000000     0.006053     0.010312     0.005973
398    0.000537    -0.011142     0.002060    -0.004461    -0.013927
399    0.000022    -0.002487    -0.004123    -0.005771    -0.002039

[399 rows x 5 columns]

In [374]:
def calcula_zscore_spread(s1,s2,t1,t2):
    s1 = sm.add_constant(s1)
    results = sm.OLS(s2,s1).fit()
    s1 = s1[t1]
    b = results.params[t1]
    spread = s2 - (b*s1)
    zs = zscore(spread)[-1]
    return zs

def cria_variaveis(par):
    dic[par] = {}
    dic[par]['Posicionado'] = False
    dic[par]['Saldo Financeiro'] = 0
    dic[par]['Numero Operacoes'] = 0
    dic[par]['Duracao Operacao'] = []
    dic[par]['Volume'] = 0
    return dic[par]

In [375]:
mom

     close IBOV  close B3SA3  close BBAS3  close BBDC4  close ITSA4
1      0.000153     0.008861    -0.001774     0.000908     0.000000
2     -0.001264    -0.005387    -0.004095    -0.002727    -0.001956
3      0.000084     0.007432    -0.009420     0.005452     0.003914
4      0.000748     0.007925     0.002931     0.000897     0.003879
5      0.001107     0.010293     0.007857     0.000895     0.011471
..          ...          ...          ...          ...          ...
395    0.001746    -0.015127     0.008065     0.004309     0.004200
396    0.000810     0.006303     0.005711     0.006777     0.018545
397    0.000553     0.000000     0.006053     0.010312     0.005973
398    0.000537    -0.011142     0.002060    -0.004461    -0.013927
399    0.000022    -0.002487    -0.004123    -0.005771    -0.002039

[399 rows x 5 columns]

In [379]:
for index in range(0,len(mom)): #todas as linhas dos dados
    print(index)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398

In [398]:
s1

array([0.00015341])

In [403]:
start = time.process_time()
c = 0
tickers = mom.columns.to_list()
for index in range(1,len(mom)): #todas as linhas dos dados
    for i in range(len(tickers)-1): #todas os tickers 
        for j in range(i+1, len(tickers)-1): #todas as possibilidades de pares
            t1,t2 = tickers[i], tickers[j]
            par = (t1+' x '+t2)
            s1,s2 = mom[t1][c:index],mom[t2][c:index]
            preco_s1 = dados[t1][dados.index == index].values[0]
            preco_s2 = dados[t2][dados.index == index].values[0]
            q = preco_s1/preco_s2 
            try:
                print(c)
            except:
                pass
            break
#             if coint(s1,s2)[1] < 0.01: #checa se sao cointegrados 
#                 zs = calcula_zscore_spread(s1,s2,t1,t2)
#                 #cria dados sobre os pares de trade
#                 if not par in dic:
#                     cria_variaveis(par)
#                 #condicao para se posicionar
#                 if zs >= 1 and dic[par]['Posicionado'] == False:
#                     dic[par]['Volume'] = q
#                     dic[par]['Saldo Financeiro'] -= preco_s1 #comprou Stock1
#                     dic[par]['Saldo Financeiro'] += preco_s2*q #vendeu Stock2 (recebe o dinheiro)
                    
#                     dic[par]['Posicionado'] == True
                    
#                 #condicao para encerrar posicao    
#                 elif (zs > -.08 and zs < .08) and dic[par]['Posicionado'] == True:
#                     dic[par]['Saldo Financeiro'] += preco_s1 #vnedeu Stock1
#                     dic[par]['Saldo Financeiro'] -= preco_s2*dic[par]['Volume'] #comprou Stock2

#                     dic[par]['Posicionado'] == False
                    
    c+=1
    
print(time.process_time() - start)

0
0
0
1
1
1
2
2
2
3
3
3
4
4
4
5
5
5
6
6
6
7
7
7
8
8
8
9
9
9
10
10
10
11
11
11
12
12
12
13
13
13
14
14
14
15
15
15
16
16
16
17
17
17
18
18
18
19
19
19
20
20
20
21
21
21
22
22
22
23
23
23
24
24
24
25
25
25
26
26
26
27
27
27
28
28
28
29
29
29
30
30
30
31
31
31
32
32
32
33
33
33
34
34
34
35
35
35
36
36
36
37
37
37
38
38
38
39
39
39
40
40
40
41
41
41
42
42
42
43
43
43
44
44
44
45
45
45
46
46
46
47
47
47
48
48
48
49
49
49
50
50
50
51
51
51
52
52
52
53
53
53
54
54
54
55
55
55
56
56
56
57
57
57
58
58
58
59
59
59
60
60
60
61
61
61
62
62
62
63
63
63
64
64
64
65
65
65
66
66
66
67
67
67
68
68
68
69
69
69
70
70
70
71
71
71
72
72
72
73
73
73
74
74
74
75
75
75
76
76
76
77
77
77
78
78
78
79
79
79
80
80
80
81
81
81
82
82
82
83
83
83
84
84
84
85
85
85
86
86
86
87
87
87
88
88
88
89
89
89
90
90
90
91
91
91
92
92
92
93
93
93
94
94
94
95
95
95
96
96
96
97
97
97
98
98
98
99
99
99
100
100
100
101
101
101
102
102
102
103
103
103
104
104
104
105
105
105
106
106
106
107
107
107
108
108
108
109
109
109
110
110
110
111
111
111
112
112
112
113
113
113
114
114
114
115
115
115
116
116
116
117
117
117
118
118
118
119
119
119
120
120
120
121
121
121
122
122
122
123
123
123
124
124
124
125
125
125
126
126
126
127
127
127
128
128
128
129
129
129
130
130
130
131
131
131
132
132
132
133
133
133
134
134
134
135
135
135
136
136
136
137
137
137
138
138
138
139
139
139
140
140
140
141
141
141
142
142
142
143
143
143
144
144
144
145
145
145
146
146
146
147
147
147
148
148
148
149
149
149
150
150
150
151
151
151
152
152
152
153
153
153
154
154
154
155
155
155
156
156
156
157
157
157
158
158
158
159
159
159
160
160
160
161
161
161
162
162
162
163
163
163
164
164
164
165
165
165
166
166
166
167
167
167
168
168
168
169
169
169
170
170
170
171
171
171
172
172
172
173
173
173
174
174
174
175
175
175
176
176
176
177
177
177
178
178
178
179
179
179
180
180
180
181
181
181
182
182
182
183
183
183
184
184
184
185
185
185
186
186
186
187
187
187
188
188
188
189
189
189
190
190
190
191
191
191
192
192
192
193
193
193
194
194
194
195
195
195
196
196
196
197
197
197
198
198
198
199
199
199
200
200
200
201
201
201
202
202
202
203
203
203
204
204
204
205
205
205
206
206
206
207
207
207
208
208
208
209
209
209
210
210
210
211
211
211
212
212
212
213
213
213
214
214
214
215
215
215
216
216
216
217
217
217
218
218
218
219
219
219
220
220
220
221
221
221
222
222
222
223
223
223
224
224
224
225
225
225
226
226
226
227
227
227
228
228
228
229
229
229
230
230
230
231
231
231
232
232
232
233
233
233
234
234
234
235
235
235
236
236
236
237
237
237
238
238
238
239
239
239
240
240
240
241
241
241
242
242
242
243
243
243
244
244
244
245
245
245
246
246
246
247
247
247
248
248
248
249
249
249
250
250
250
251
251
251
252
252
252
253
253
253
254
254
254
255
255
255
256
256
256
257
257
257
258
258
258
259
259
259
260
260
260
261
261
261
262
262
262
263
263
263
264
264
264
265
265
265
266
266
266
267
267
267
268
268
268
269
269
269
270
270
270
271
271
271
272
272
272
273
273
273
274
274
274
275
275
275
276
276
276
277
277
277
278
278
278
279
279
279
280
280
280
281
281
281
282
282
282
283
283
283
284
284
284
285
285
285
286
286
286
287
287
287
288
288
288
289
289
289
290
290
290
291
291
291
292
292
292
293
293
293
294
294
294
295
295
295
296
296
296
297
297
297
298
298
298
299
299
299
300
300
300
301
301
301
302
302
302
303
303
303
304
304
304
305
305
305
306
306
306
307
307
307
308
308
308
309
309
309
310
310
310
311
311
311
312
312
312
313
313
313
314
314
314
315
315
315
316
316
316
317
317
317
318
318
318
319
319
319
320
320
320
321
321
321
322
322
322
323
323
323
324
324
324
325
325
325
326
326
326
327
327
327
328
328
328
329
329
329
330
330
330
331
331
331
332
332
332
333
333
333
334
334
334
335
335
335
336
336
336
337
337
337
338
338
338
339
339
339
340
340
340
341
341
341
342
342
342
343
343
343
344
344
344
345
345
345
346
346
346
347
347
347
348
348
348
349
349
349
350
350
350
351
351
351
352
352
352
353
353
353
354
354
354
355
355
355
356
356
356
357
357
357
358
358
358
359
359
359
360
360
360
361
361
361
362
362
362
363
363
363
364
364
364
365
365
365
366
366
366
367
367
367
368
368
368
369
369
369
370
370
370
371
371
371
372
372
372
373
373
373
374
374
374
375
375
375
376
376
376
377
377
377
378
378
378
379
379
379
380
380
380
381
381
381
382
382
382
383
383
383
384
384
384
385
385
385
386
386
386
387
387
387
388
388
388
389
389
389
390
390
390
391
391
391
392
392
392
393
393
393
394
394
394
395
395
395
396
396
396
397
397
397
2.069645236999918

In [399]:
s1

array([0.00015341])

In [ ]:
for k in dic:
    print(dic[k])
    print(' ')

In [ ]:
contador = 0
for i in range(len(tickers)):
    for j in range(i+1, len(tickers)-1):
        if (coint(mom[tickers[i]],mom[tickers[j]])[1]) > .1:
            print(f'{tickers[i]} and {tickers[j]} nao cointegrated')

In [ ]:
mom.columns.to_list()

In [ ]:
dic = {}

class Pair_trading():
    def __init__(self, dados, t1, t2, index, posicao_financeira):
        self.t1, self.t2 = t1, t2
        self.par = (t1+' x '+t2)
        self.posicao_financeira = posicao_financeira
        self.index = index
        self.dados = dados 
        
        dic[self.par] = {}

        
    def realiza_operacao(self):
        #apenas financeiro
        self.posicao_financeira -= (dados[t1][dados.index == self.index].values[0]) #comprou
        dic[self.par]['Posicao Financeira'] = self.posicao_financeira
        
        return self.posicao_financeira

In [ ]:
banana = Pair_trading(dados,t1,t2,1047,0)
banana.realiza_operacao()

In [ ]:
dic

In [ ]:
t1 = 'close IBOV'

In [ ]:
banana1 = Pair_trading(dados,t1,t2,1053,0)

In [ ]:
banana1.realiza_operacao()

In [ ]:
dic={}

In [ ]:
dic['potato'] = 10

In [ ]:
if not (dic['potato']):
    print('oi')

In [ ]:
#Quero saber qual é o par que foi operado, a quantidade de operacões, a duração, e o resultado.