In [22]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd
import pytz

def baixa_cotacao(ticker):
    timezone = pytz.timezone("Etc/UTC")
    utc_from = datetime(2020, 7, 1, tzinfo=timezone)
    rates = mt5.copy_rates_from(ticker, mt5.TIMEFRAME_M5, utc_from, 3000)
    dados = pd.DataFrame(rates)
    dados['time']=pd.to_datetime(dados['time'], unit='s')
    dados = dados.set_index('time')
    dados = dados[['close', 'real_volume']]
    return dados

def concatenate(empresas):
    #downloading data
    dic = {}
    for i in empresas:
        try:
            dic[i] = baixa_cotacao(i)
        except:
            print(f'algum erro com: {i}')
    #concatenating        
    conc = False
    for k,v in dic.items():
        if not conc:
            data = dic[k]
            conc = True
        else:
            data = pd.concat([data,dic[k]],axis=1,join='inner')
    #changing columns names    
    colm = [] 
    for i in empresas:
        colm.append(['Close '+i])
        colm.append(['Volume '+i])

    flatList = [ item for elem in colm for item in elem]
    data.columns = flatList
    
    return data

In [23]:
mt5.initialize()

True

In [3]:
empresas = ['ITSA4','ITSA3','IBOV','BBAS3','BIDI4','ITUB3','ITUB4']

In [13]:
dados = concatenate(empresas)

In [14]:
dados.head()

,Close ITSA4,Volume ITSA4,Close ITSA3,Volume ITSA3,Close IBOV,Volume IBOV,Close BBAS3,Volume BBAS3,Close BIDI4,Volume BIDI4,Close ITUB3,Volume ITUB3,Close ITUB4,Volume ITUB4
time,,,,,,,,,,,,,,
2019-12-20 14:40:00,13.42,52900,13.47,500,114894.0,145810380,49.94,39500,14.83,4200,30.47,6500,35.29,79100
2019-12-20 14:45:00,13.41,21900,13.49,1300,114950.0,110806270,50.04,88000,14.82,2200,30.48,1000,35.32,43700
2019-12-20 14:50:00,13.42,135600,13.51,900,115026.0,145016620,50.05,74600,14.81,37400,30.47,3900,35.32,77900
2019-12-20 15:00:00,13.40,18400,13.49,600,114929.0,253162856,50.05,103500,14.81,13100,30.48,100,35.29,50900
2019-12-20 15:05:00,13.41,16500,13.49,500,114909.0,66152725,50.00,43400,14.82,9100,30.46,1600,35.27,45600

In [17]:
dados.to_excel('cotacoes.xlsx')

ModuleNotFoundError: No module named 'openpyxl'

In [1]:
mt5.shutdown()

NameError: name 'mt5' is not defined

In [24]:
qu = ['WIN$', 'WIN@', 'WIN$D', 'WIN$N', 'WIN@D', 'WIN@N','DOL$', 'DOL@', 'DOL$D', 'DOL$N', 'DOL@D', 'DOL@N', 'IND$', 'IND@', 'IND$D', 'IND$N', 'IND@D', 'IND@N']
dados = concatenate(qu)

In [25]:
dados

,Close WIN$,Volume WIN$,Close WIN@,Volume WIN@,Close WIN$D,Volume WIN$D,Close WIN$N,Volume WIN$N,Close WIN@D,Volume WIN@D,...,Close IND@,Volume IND@,Close IND$D,Volume IND$D,Close IND$N,Volume IND$N,Close IND@D,Volume IND@D,Close IND@N,Volume IND@N
time,,,,,,,,,,,,,,,,,,,,,
2020-05-21 10:45:00,82780.0,145738,82780.0,145738,82780.0,145738,82780.0,145738,82780.0,145738,...,82800.0,2085,82800.0,2085,82800.0,2085,82800.0,2085,82800.0,2085
2020-05-21 10:50:00,82700.0,118176,82700.0,118176,82700.0,118176,82700.0,118176,82700.0,118176,...,82690.0,1235,82690.0,1235,82690.0,1235,82690.0,1235,82690.0,1235
2020-05-21 10:55:00,82710.0,133841,82710.0,133841,82710.0,133841,82710.0,133841,82710.0,133841,...,82710.0,1300,82710.0,1300,82710.0,1300,82710.0,1300,82710.0,1300
2020-05-21 11:00:00,82710.0,105676,82710.0,105676,82710.0,105676,82710.0,105676,82710.0,105676,...,82705.0,945,82705.0,945,82705.0,945,82705.0,945,82705.0,945
2020-05-21 11:05:00,82835.0,96694,82835.0,96694,82835.0,96694,82835.0,96694,82835.0,96694,...,82830.0,940,82830.0,940,82830.0,940,82830.0,940,82830.0,940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-30 17:30:00,95170.0,47030,95170.0,47030,95170.0,47030,95170.0,47030,95170.0,47030,...,95180.0,725,95180.0,725,95180.0,725,95180.0,725,95180.0,725
2020-06-30 17:35:00,95175.0,33024,95175.0,33024,95175.0,33024,95175.0,33024,95175.0,33024,...,95175.0,550,95175.0,550,95175.0,550,95175.0,550,95175.0,550
2020-06-30 17:40:00,95170.0,21446,95170.0,21446,95170.0,21446,95170.0,21446,95170.0,21446,...,95160.0,355,95160.0,355,95160.0,355,95160.0,355,95160.0,355
2020-06-30 17:45:00,95135.0,25045,95135.0,25045,95135.0,25045,95135.0,25045,95135.0,25045,...,95140.0,595,95140.0,595,95140.0,595,95140.0,595,95140.0,595
2020-06-30 17:50:00,95100.0,33838,95100.0,33838,95100.0,33838,95100.0,33838,95100.0,33838,...,95015.0,1890,95015.0,1890,95015.0,1890,95015.0,1890,95015.0,1890

In [26]:
with pd.ExcelWriter('dados_win_dol.xlsx', mode='a') as writer:
    dados.to_excel(writer, sheet_name='5m 3000 validacao', index=False)

In [16]:
dados.to_excel('dados_win_dol.xlsx')