In [29]:
import MetaTrader5 as mt5
from datetime import datetime
import pytz
import pandas as pd
from datetime import datetime

In [32]:
if not mt5.initialize():
    print("initialize() failed, error code =",mt5.last_error())
    quit()

In [3]:
account_info_dict = mt5.account_info()._asdict()   
# convert the dictionary into DataFrame and print
df=pd.DataFrame(list(account_info_dict.items()),columns=['property','value'])
print("account_info() as dataframe:")
print(df)

account_info() as dataframe:
              property                  value
0                login             1000349177
1           trade_mode                      2
2             leverage                      1
3         limit_orders                      0
4       margin_so_mode                      1
5        trade_allowed                   True
6         trade_expert                   True
7          margin_mode                      0
8      currency_digits                      2
9           fifo_close                  False
10             balance                      0
11              credit                      0
12              profit                      0
13              equity                      0
14              margin                      0
15         margin_free                      0
16        margin_level                      0
17      margin_so_call                      0
18        margin_so_so                      0
19      margin_initial                      0
20  margin_maintenance                      0
21              assets                      0
22         liabilities                      0
23  commission_blocked                      0
24                name  DANIEL COSTA DELATTRE
25              server              CLEAR-PRD
26            currency                    BRL
27             company        CLEAR CTVM S.A.

In [33]:
# solicitamos 10 barras de GBPUSD D1 do dia atual
rates = mt5.copy_rates_from_pos("BBDC4", mt5.TIMEFRAME_M1, 0, 4)
  
'''# exibimos cada elemento de dados recebidos numa nova linha
print("Exibimos os dados recebidos como est√£o")
for rate in rates:
    print(rate)'''
    
# a partir dos dados recebidos criamos o DataFrame
rates_frame = pd.DataFrame(rates)
# convertemos o tempo em segundos no formato datetime
rates_frame['time']=pd.to_datetime(rates_frame['time'], unit='s')
rates_frame

,time,open,high,low,close,tick_volume,spread,real_volume
0,2020-08-03 15:12:00,22.66,22.69,22.65,22.69,334,1,205900
1,2020-08-03 15:13:00,22.68,22.69,22.67,22.67,201,1,66500
2,2020-08-03 15:14:00,22.68,22.68,22.65,22.65,263,1,81800
3,2020-08-03 15:15:00,22.65,22.68,22.65,22.67,187,1,71900

In [52]:
# definimos o fuso hor√°rio como UTC
timezone = pytz.timezone("Etc/UTC")
# criamos o objeto datetime no fuso hor√°rio UTC para que n√£o seja aplicado o deslocamento do fuso hor√°rio local
utc_from = datetime(2020, 8, 3, tzinfo=timezone)
# solicitamos 100 000 ticks de EURUSD a partir de 04/01/2019 no fuso hor√°rio UTC
ticks = mt5.copy_ticks_from("BBDC4", utc_from, 1500000, mt5.COPY_TICKS_ALL)
print("Ticks recebidos:",len(ticks))
 
# conclu√≠mos a conex√£o ao terminal MetaTrader 5
pd.set_option('display.max_columns', 500) # n√∫mero de colunas exibidas
pd.set_option('display.width', 1500)      # max. largura para exibi√ß√£o da tabela
 
'''# exibimos cada tick numa nova linha
print("Exibimos os ticks recebidos como s√£o")
count = 0
for tick in ticks:
    count+=1
    print(tick)
    if count >= 10:
        break'''
 
# a partir dos dados recebidos criamos o DataFrame
ticks_frame = pd.DataFrame(ticks)
# convertemos o tempo em segundos no formato datetime
ticks_frame['time']=pd.to_datetime(ticks_frame['time'], unit='s')
 
# exibimos dados
print("\nExibimos o dataframe com ticks")
ticks_frame.tail(5)

Ticks recebidos: 73910

Exibimos o dataframe com ticks

                     time    bid    ask   last  volume       time_msc  flags  volume_real
73905 2020-08-03 15:19:03  22.63  22.64  22.64     600  1596467943080     56        600.0
73906 2020-08-03 15:19:03  22.63  22.64  22.64     500  1596467943080     56        500.0
73907 2020-08-03 15:19:03  22.63  22.64  22.64    1100  1596467943080     56       1100.0
73908 2020-08-03 15:19:03  22.63  22.64  22.64     100  1596467943534     56        100.0
73909 2020-08-03 15:19:03  22.63  22.64  22.63     100  1596467943538     88        100.0

In [91]:
import time
from IPython.display import clear_output

timezone = pytz.timezone("Etc/UTC")
utc_from = datetime(2020, 8, 3, tzinfo=timezone)

while True:
    clear_output(wait=True)
    ticks = mt5.copy_ticks_from("ITSA4", utc_from, 1500000, mt5.COPY_TICKS_ALL)
    ticks_frame = pd.DataFrame(ticks)
    ticks_frame['time']=pd.to_datetime(ticks_frame['time'], unit='s')
    print(ticks_frame.tail(5))
    time.sleep(1)
    clear()

                     time    bid    ask   last  volume       time_msc  flags  volume_real
34354 2020-08-03 15:50:18  10.81  10.82  10.81     100  1596469818173     88        100.0
34355 2020-08-03 15:50:20  10.81  10.82  10.82     100  1596469820121     56        100.0
34356 2020-08-03 15:50:21  10.81  10.82  10.82     100  1596469821165     56        100.0
34357 2020-08-03 15:50:21  10.81  10.82  10.82     200  1596469821749     56        200.0
34358 2020-08-03 15:50:21  10.81  10.82  10.82     200  1596469821754     56        200.0

KeyboardInterrupt:

In [84]:
ticks[-1][[]]

IndexError: too many indices for array: array is 0-dimensional, but 1 were indexed

In [73]:
ticks_frame

                     time    bid    ask   last  volume       time_msc  flags  volume_real
0     2020-08-03 10:10:16   0.00   0.00  22.70     100  1596449416774     88        100.0
1     2020-08-03 10:10:16   0.00   0.00  22.70    2100  1596449416774     88       2100.0
2     2020-08-03 10:10:16   0.00   0.00  22.70     400  1596449416775     88        400.0
3     2020-08-03 10:10:16   0.00   0.00  22.70    1000  1596449416775     88       1000.0
4     2020-08-03 10:10:16  22.69   0.00  22.70    1000  1596449416775      2       1000.0
...                   ...    ...    ...    ...     ...            ...    ...          ...
77323 2020-08-03 15:31:56  22.51  22.52  22.51     100  1596468716513     88        100.0
77324 2020-08-03 15:31:57  22.51  22.52  22.52     100  1596468717070     56        100.0
77325 2020-08-03 15:31:58  22.51  22.52  22.51     100  1596468718075     88        100.0
77326 2020-08-03 15:31:58  22.51  22.52  22.52     100  1596468718166     56        100.0
77327 2020-08-03 15:31:58  22.51  22.52  22.51     100  1596468718377     88        100.0

[77328 rows x 8 columns]