In [56]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd
import pytz

def baixa_cotacao(ticker):
    timezone = pytz.timezone("Etc/UTC")
    utc_from = datetime(2020, 5, 1, tzinfo=timezone)
    rates = mt5.copy_rates_from(ticker, mt5.TIMEFRAME_D1, utc_from, 500)
    dados = pd.DataFrame(rates)
    dados['time']=pd.to_datetime(dados['time'], unit='s')
    dados = dados.set_index('time')
    dados = dados[['close']]
    return dados

def concatenate(empresas):
    #downloading data
    dic = {}
    for i in empresas:
        try:
            dic[i] = baixa_cotacao(i)
        except:
            print(f'algum erro com: {i}')
    #concatenating        
    conc = False
    for k,v in dic.items():
        if not conc:
            data = dic[k]
            conc = True
        else:
            data = pd.concat([data,dic[k]],axis=1,join='outer')
    #changing columns names    
    colm = [] 
    for i in empresas:
        colm.append([i])

    flatList = [ item for elem in colm for item in elem]
    data.columns = flatList
        

    return data

In [67]:
def baixa_cotacao(ticker):
    timezone = pytz.timezone("Etc/UTC")
    utc_from = datetime(2020, 5, 1, tzinfo=timezone)
    rates = mt5.copy_rates_from(ticker, mt5.TIMEFRAME_D1, utc_from, 500)
    dados = pd.DataFrame(rates)
    dados['time']=pd.to_datetime(dados['time'], unit='s')
    dados = dados.set_index('time')
    dados = dados[['close']]    
    return dados

def concatenate(empresas):
    #downloading data
    dic = {}
    dic_secundario = {}
    #lista que deu certo
    prim = []
    for i in empresas:
        try:
            download = baixa_cotacao(i)
            if len(download) >= 300:
                dic[i] = download
                #print(f'{i} -> primario')
                prim.append(i)
            else:
                dic_secundario = download
                print(f'{i} -> secundario')
        except:
            print(f'algum erro com: {i}')
    #concatenating        
    conc = False
    for k,v in dic.items():
        if not conc:
            data = dic[k]
            conc = True
        else:
            data = pd.concat([data,dic[k]],axis=1,join='outer')
    #changing columns names    
    colm = [] 
    for i in prim:
        colm.append([i])
        
    flatList = [ item for elem in colm for item in elem]
    try: 
        data.columns = flatList
    except:
        print('erro com flatlist \n',flatList)
        
    return data

In [68]:
mt5.initialize()

True

In [73]:
ltt = ['ABEV3', 'BBAS3', 'BBDC3', 'BBDC4', 'BBSE3', 'BRAP4', 'BRFS3', 'BRKM5', 'BRML3', 'B3SA3', 'CCRO3', 'CIEL3', 'CMIG4', 'CPFE3', 'CPLE6', 'CSAN3', 'CSNA3', 'CYRE3', 'ECOR3', 'EGIE3', 'ELET3', 'EMBR3', 'ENBR3', 'EQTL3', 'YDUQ3', 'SUZB3', 'GGBR4', 'GOAU4', 'HYPE3', 'ITSA4', 'ITUB4', 'JBSS3', 'KLBN11', 'COGN3', 'LAME4', 'LREN3', 'MRFG3', 'MRVE3', 'MULT3', 'NTCO3', 'PCAR3', 'PETR3', 'PETR4', 'QUAL3', 'RADL3', 'RENT3', 'RAIL3', 'SANB11', 'SBSP3', 'SMLS3', 'SUZB3', 'TIMP3', 'UGPA3', 'USIM5', 'VALE3', 'VIVT4', 'WEGE3']
empresas = ['IBOV','ABEV3', 'AZUL4', 'B3SA3', 'BBAS3', 'BBDC3', 'BBDC4', 'BBSE3', 'BEEF3', 'BPAC11', 'BRAP4', 'BRDT3', 'BRFS3', 'BRKM5', 'BRML3', 'BTOW3', 'CCRO3', 'CIEL3', 'CMIG4', 'COGN3', 'CPFE3', 'CRFB3', 'CSAN3', 'CSNA3', 'CVCB3', 'CYRE3', 'ECOR3', 'EGIE3', 'ELET3', 'ELET6', 'EMBR3', 'ENBR3', 'ENGI11', 'EQTL3', 'FLRY3', 'GGBR4', 'GNDI3', 'GOAU4', 'GOLL4', 'HAPV3', 'HGTX3', 'HYPE3', 'IGTA3', 'IRBR3', 'ITSA4', 'ITUB4', 'JBSS3', 'KLBN11', 'LAME4', 'LREN3', 'MGLU3', 'MRFG3', 'MRVE3', 'MULT3', 'NTCO3', 'PCAR3', 'PETR3', 'PETR4', 'QUAL3', 'RADL3', 'RAIL3', 'RENT3', 'SANB11', 'SBSP3', 'SULA11', 'SUZB3', 'TAEE11', 'TIMP3', 'TOTS3', 'UGPA3', 'USIM5', 'VALE3', 'VIVT4', 'VVAR3', 'WEGE3', 'YDUQ3']

In [74]:
dados = concatenate(ltt)

erro com flatlist
 ['ABEV3', 'BBAS3', 'BBDC3', 'BBDC4', 'BBSE3', 'BRAP4', 'BRFS3', 'BRKM5', 'BRML3', 'B3SA3', 'CCRO3', 'CIEL3', 'CMIG4', 'CPFE3', 'CPLE6', 'CSAN3', 'CSNA3', 'CYRE3', 'ECOR3', 'EGIE3', 'ELET3', 'EMBR3', 'ENBR3', 'EQTL3', 'YDUQ3', 'SUZB3', 'GGBR4', 'GOAU4', 'HYPE3', 'ITSA4', 'ITUB4', 'JBSS3', 'KLBN11', 'COGN3', 'LAME4', 'LREN3', 'MRFG3', 'MRVE3', 'MULT3', 'NTCO3', 'PETR3', 'PETR4', 'QUAL3', 'RADL3', 'RENT3', 'RAIL3', 'SANB11', 'SBSP3', 'SMLS3', 'SUZB3', 'TIMP3', 'UGPA3', 'USIM5', 'VALE3', 'VIVT4', 'WEGE3']

In [64]:
empresas = ['IBOV','ABEV3', 'AZUL4', 'B3SA3', 'BBAS3', 'BBDC3', 'BBDC4', 'BBSE3', 'BEEF3', 'BPAC11', 'BRAP4', 'BRDT3', 'BRFS3', 'BRKM5', 'BRML3', 'BTOW3', 'CCRO3', 'CIEL3', 'CMIG4', 'COGN3', 'CPFE3', 'CRFB3', 'CSAN3', 'CSNA3', 'CVCB3', 'CYRE3', 'ECOR3', 'EGIE3', 'ELET3', 'ELET6', 'EMBR3', 'ENBR3', 'ENGI11', 'EQTL3', 'FLRY3', 'GGBR4', 'GNDI3', 'GOAU4', 'GOLL4', 'HAPV3', 'HGTX3', 'HYPE3', 'IGTA3', 'IRBR3', 'ITSA4', 'ITUB4', 'JBSS3', 'KLBN11', 'LAME4', 'LREN3', 'MGLU3', 'MRFG3', 'MRVE3', 'MULT3', 'NTCO3', 'PCAR3', 'PETR3', 'PETR4', 'QUAL3', 'RADL3', 'RAIL3', 'RENT3', 'SANB11', 'SBSP3', 'SULA11', 'SUZB3', 'TAEE11', 'TIMP3', 'TOTS3', 'UGPA3', 'USIM5', 'VALE3', 'VIVT4', 'VVAR3', 'WEGE3', 'YDUQ3']

In [65]:
dados = concatenate(empresas)

PCAR3 -> secundario

In [66]:
dados

,IBOV,ABEV3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,BEEF3,BPAC11,...,TAEE11,TIMP3,TOTS3,UGPA3,USIM5,VALE3,VIVT4,VVAR3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-04-23,85603.0,22.33,36.95,24.06,33.54,22.32,23.78,22.32,8.09,20.57,...,16.81,14.83,10.41,29.99,10.67,45.24,41.78,8.30,17.00,32.53
2018-04-24,85469.0,22.19,35.84,23.72,33.21,22.16,23.82,22.09,8.30,20.47,...,16.83,14.80,10.41,28.87,10.44,46.01,42.04,8.63,16.92,32.03
2018-04-25,85044.0,22.06,34.23,23.50,33.65,22.50,24.12,22.10,8.27,20.98,...,16.96,14.65,10.34,29.05,10.58,45.67,41.82,8.49,16.56,32.86
2018-04-26,86383.0,22.19,34.34,24.07,33.91,22.54,24.12,22.38,8.15,20.98,...,16.77,15.06,10.44,29.30,10.74,46.38,42.19,8.07,17.36,30.97
2018-04-27,86445.0,22.07,35.40,24.22,33.91,22.60,24.38,22.50,8.20,21.00,...,17.07,15.10,10.45,29.50,10.46,46.05,42.42,8.30,17.37,29.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-27,78239.0,11.61,14.11,39.23,25.69,16.40,18.30,25.30,11.23,39.93,...,27.26,12.55,19.44,14.31,4.30,44.55,45.69,7.57,40.50,27.78
2020-04-28,81312.0,11.70,16.05,39.80,29.14,18.01,19.91,25.26,11.90,44.25,...,27.43,12.54,19.32,14.58,4.67,44.61,45.30,9.04,41.48,28.50
2020-04-29,83171.0,11.67,17.12,39.90,29.56,18.71,20.57,26.00,12.30,43.50,...,26.85,13.09,19.60,15.37,5.06,46.73,45.76,9.18,41.30,30.15
2020-04-30,80506.0,11.34,17.40,38.42,28.50,17.50,19.09,26.55,12.26,42.06,...,26.66,12.76,19.71,14.50,4.80,44.86,44.38,9.18,39.84,30.35
2020-05-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
print(len(ltt))
for i in ltt:
    print(i)

57
ABEV3
BBAS3
BBDC3
BBDC4
BBSE3
BRAP4
BRFS3
BRKM5
BRML3
B3SA3
CCRO3
CIEL3
CMIG4
CPFE3
CPLE6
CSAN3
CSNA3
CYRE3
ECOR3
EGIE3
ELET3
EMBR3
ENBR3
EQTL3
YDUQ3
SUZB3
GGBR4
GOAU4
HYPE3
ITSA4
ITUB4
JBSS3
KLBN11
COGN3
LAME4
LREN3
MRFG3
MRVE3
MULT3
NTCO3
PCAR3
PETR3
PETR4
QUAL3
RADL3
RENT3
RAIL3
SANB11
SBSP3
SMLS3
SUZB3
TIMP3
UGPA3
USIM5
VALE3
VIVT4
WEGE3

In [71]:
ttt = ['ABEV3', 'BBAS3', 'BBDC3', 'BBDC4', 'BBSE3', 'BRAP4', 'BRFS3', 'BRKM5', 'BRML3', 'B3SA3', 'CCRO3', 'CIEL3', 'CMIG4', 'CPFE3', 'CPLE6', 'CSAN3', 'CSNA3', 'CYRE3', 'ECOR3', 'EGIE3', 'ELET3', 'EMBR3', 'ENBR3', 'EQTL3', 'YDUQ3', 'SUZB3', 'GGBR4', 'GOAU4', 'HYPE3', 'ITSA4', 'ITUB4', 'JBSS3', 'KLBN11', 'COGN3', 'LAME4', 'LREN3', 'MRFG3', 'MRVE3', 'MULT3', 'NTCO3', 'PETR3', 'PETR4', 'QUAL3', 'RADL3', 'RENT3', 'RAIL3', 'SANB11', 'SBSP3', 'SMLS3', 'SUZB3', 'TIMP3', 'UGPA3', 'USIM5', 'VALE3', 'VIVT4', 'WEGE3']

In [72]:
for i in ltt:
    if i not in ttt:
        print(i)

PCAR3

In [76]:
for i in ltt:
    print(baixa_cotacao(i))

            close
time
2018-04-23  22.33
2018-04-24  22.19
2018-04-25  22.06
2018-04-26  22.19
2018-04-27  22.07
...           ...
2020-04-24  11.11
2020-04-27  11.61
2020-04-28  11.70
2020-04-29  11.67
2020-04-30  11.34

[500 rows x 1 columns]
            close
time
2018-04-23  33.54
2018-04-24  33.21
2018-04-25  33.65
2018-04-26  33.91
2018-04-27  33.91
...           ...
2020-04-24  24.30
2020-04-27  25.69
2020-04-28  29.14
2020-04-29  29.56
2020-04-30  28.50

[500 rows x 1 columns]
            close
time
2018-04-23  22.32
2018-04-24  22.16
2018-04-25  22.50
2018-04-26  22.54
2018-04-27  22.60
...           ...
2020-04-24  15.88
2020-04-27  16.40
2020-04-28  18.01
2020-04-29  18.71
2020-04-30  17.50

[500 rows x 1 columns]
            close
time
2018-04-23  23.78
2018-04-24  23.82
2018-04-25  24.12
2018-04-26  24.12
2018-04-27  24.38
...           ...
2020-04-24  17.78
2020-04-27  18.30
2020-04-28  19.91
2020-04-29  20.57
2020-04-30  19.09

[500 rows x 1 columns]
            close
time
2018-04-23  22.32
2018-04-24  22.09
2018-04-25  22.10
2018-04-26  22.38
2018-04-27  22.50
...           ...
2020-04-24  24.40
2020-04-27  25.30
2020-04-28  25.26
2020-04-29  26.00
2020-04-30  26.55

[500 rows x 1 columns]
            close
time
2018-04-23  32.85
2018-04-24  33.58
2018-04-25  32.95
2018-04-26  33.66
2018-04-27  33.41
...           ...
2020-04-24  29.69
2020-04-27  30.30
2020-04-28  29.75
2020-04-29  31.32
2020-04-30  29.86

[500 rows x 1 columns]
            close
time
2018-04-23  25.33
2018-04-24  25.85
2018-04-25  25.82
2018-04-26  25.97
2018-04-27  25.72
...           ...
2020-04-24  18.55
2020-04-27  20.56
2020-04-28  20.31
2020-04-29  20.38
2020-04-30  19.39

[500 rows x 1 columns]
            close
time
2018-04-23  44.14
2018-04-24  43.82
2018-04-25  42.17
2018-04-26  42.38
2018-04-27  42.88
...           ...
2020-04-24  18.93
2020-04-27  21.49
2020-04-28  22.34
2020-04-29  21.95
2020-04-30  21.14

[500 rows x 1 columns]
            close
time
2018-04-23  10.36
2018-04-24  10.08
2018-04-25  10.19
2018-04-26  10.39
2018-04-27  10.27
...           ...
2020-04-24   9.30
2020-04-27   9.55
2020-04-28  10.35
2020-04-29  10.67
2020-04-30  10.04

[500 rows x 1 columns]
            close
time
2018-04-23  24.06
2018-04-24  23.72
2018-04-25  23.50
2018-04-26  24.07
2018-04-27  24.22
...           ...
2020-04-24  37.00
2020-04-27  39.23
2020-04-28  39.80
2020-04-29  39.90
2020-04-30  38.42

[500 rows x 1 columns]
            close
time
2018-04-23  11.70
2018-04-24  11.51
2018-04-25  11.24
2018-04-26  11.42
2018-04-27  11.58
...           ...
2020-04-24  12.04
2020-04-27  12.31
2020-04-28  12.84
2020-04-29  13.08
2020-04-30  12.35

[500 rows x 1 columns]
            close
time
2018-04-23  16.31
2018-04-24  16.83
2018-04-25  16.75
2018-04-26  16.92
2018-04-27  16.53
...           ...
2020-04-24   4.08
2020-04-27   4.11
2020-04-28   4.18
2020-04-29   4.23
2020-04-30   4.06

[500 rows x 1 columns]
            close
time
2018-04-23   7.01
2018-04-24   6.86
2018-04-25   6.82
2018-04-26   6.96
2018-04-27   7.06
...           ...
2020-04-24   8.23
2020-04-27   8.30
2020-04-28   8.84
2020-04-29   9.18
2020-04-30   8.95

[500 rows x 1 columns]
            close
time
2018-04-23  22.17
2018-04-24  22.18
2018-04-25  22.01
2018-04-26  22.34
2018-04-27  22.56
...           ...
2020-04-24  26.42
2020-04-27  28.05
2020-04-28  29.02
2020-04-29  28.40
2020-04-30  27.45

[500 rows x 1 columns]
            close
time
2018-04-23  24.20
2018-04-24  24.35
2018-04-25  24.21
2018-04-26  25.43
2018-04-27  25.78
...           ...
2020-04-24  52.87
2020-04-27  54.11
2020-04-28  55.66
2020-04-29  55.71
2020-04-30  54.40

[500 rows x 1 columns]
            close
time
2018-04-23  35.21
2018-04-24  36.84
2018-04-25  36.65
2018-04-26  37.55
2018-04-27  37.54
...           ...
2020-04-24  54.97
2020-04-27  57.88
2020-04-28  60.70
2020-04-29  60.55
2020-04-30  59.08

[500 rows x 1 columns]
            close
time
2018-04-23   7.93
2018-04-24   7.93
2018-04-25   7.94
2018-04-26   8.01
2018-04-27   7.73
...           ...
2020-04-24   7.07
2020-04-27   7.24
2020-04-28   7.80
2020-04-29   9.02
2020-04-30   8.95

[500 rows x 1 columns]
            close
time
2018-04-23  11.44
2018-04-24  11.57
2018-04-25  11.50
2018-04-26  11.52
2018-04-27  11.73
...           ...
2020-04-24  13.87
2020-04-27  14.11
2020-04-28  15.90
2020-04-29  16.91
2020-04-30  15.76

[500 rows x 1 columns]
            close
time
2018-04-23   8.92
2018-04-24   8.75
2018-04-25   8.86
2018-04-26   8.90
2018-04-27   9.05
...           ...
2020-04-24  10.32
2020-04-27  10.78
2020-04-28  10.84
2020-04-29  11.04
2020-04-30  10.49

[500 rows x 1 columns]
            close
time
2018-04-23  25.83
2018-04-24  25.95
2018-04-25  26.02
2018-04-26  26.81
2018-04-27  26.76
...           ...
2020-04-24  38.23
2020-04-27  40.09
2020-04-28  40.26
2020-04-29  40.01
2020-04-30  39.12

[500 rows x 1 columns]
            close
time
2018-04-23  16.89
2018-04-24  16.66
2018-04-25  16.95
2018-04-26  17.34
2018-04-27  18.07
...           ...
2020-04-24  20.90
2020-04-27  21.39
2020-04-28  22.93
2020-04-29  23.88
2020-04-30  23.27

[500 rows x 1 columns]
            close
time
2018-04-23  23.59
2018-04-24  23.42
2018-04-25  23.06
2018-04-26  23.14
2018-04-27  22.54
...           ...
2020-04-24   8.28
2020-04-27   7.66
2020-04-28   8.17
2020-04-29   8.82
2020-04-30   8.65

[500 rows x 1 columns]
            close
time
2018-04-23  12.56
2018-04-24  12.44
2018-04-25  12.34
2018-04-26  12.80
2018-04-27  13.08
...           ...
2020-04-24  16.01
2020-04-27  16.57
2020-04-28  16.87
2020-04-29  16.97
2020-04-30  17.00

[500 rows x 1 columns]
            close
time
2018-04-23  13.37
2018-04-24  13.25
2018-04-25  13.35
2018-04-26  13.63
2018-04-27  13.77
...           ...
2020-04-24  17.71
2020-04-27  18.45
2020-04-28  18.84
2020-04-29  18.62
2020-04-30  18.09

[500 rows x 1 columns]
            close
time
2018-04-23  32.53
2018-04-24  32.03
2018-04-25  32.86
2018-04-26  30.97
2018-04-27  29.39
...           ...
2020-04-24  27.04
2020-04-27  27.78
2020-04-28  28.50
2020-04-29  30.15
2020-04-30  30.35

[500 rows x 1 columns]
            close
time
2018-04-23  37.66
2018-04-24  37.11
2018-04-25  38.59
2018-04-26  39.38
2018-04-27  39.82
...           ...
2020-04-24  39.13
2020-04-27  40.10
2020-04-28  38.65
2020-04-29  38.72
2020-04-30  39.41

[500 rows x 1 columns]
            close
time
2018-04-23  16.04
2018-04-24  16.07
2018-04-25  16.08
2018-04-26  16.32
2018-04-27  16.00
...           ...
2020-04-24  10.93
2020-04-27  11.32
2020-04-28  11.98
2020-04-29  12.46
2020-04-30  11.74

[500 rows x 1 columns]
            close
time
2018-04-23   7.59
2018-04-24   7.56
2018-04-25   7.51
2018-04-26   7.66
2018-04-27   7.56
...           ...
2020-04-24   4.85
2020-04-27   5.03
2020-04-28   5.27
2020-04-29   5.50
2020-04-30   5.15

[500 rows x 1 columns]
            close
time
2018-04-23  29.67
2018-04-24  29.93
2018-04-25  30.67
2018-04-26  29.45
2018-04-27  29.60
...           ...
2020-04-24  29.79
2020-04-27  29.11
2020-04-28  29.03
2020-04-29  29.65
2020-04-30  28.86

[500 rows x 1 columns]
            close
time
2018-04-23  10.32
2018-04-24  10.30
2018-04-25  10.36
2018-04-26  10.70
2018-04-27  10.71
...           ...
2020-04-24   8.38
2020-04-27   8.65
2020-04-28   9.26
2020-04-29   9.24
2020-04-30   8.98

[500 rows x 1 columns]
            close
time
2018-04-23  29.95
2018-04-24  29.81
2018-04-25  29.63
2018-04-26  30.32
2018-04-27  30.26
...           ...
2020-04-24  20.83
2020-04-27  21.51
2020-04-28  23.29
2020-04-29  23.60
2020-04-30  22.71

[500 rows x 1 columns]
            close
time
2018-04-23   8.94
2018-04-24   8.87
2018-04-25   8.72
2018-04-26   8.96
2018-04-27   8.70
...           ...
2020-04-24  21.05
2020-04-27  22.85
2020-04-28  23.38
2020-04-29  24.00
2020-04-30  23.84

[500 rows x 1 columns]
            close
time
2018-04-23  18.96
2018-04-24  18.35
2018-04-25  18.41
2018-04-26  18.91
2018-04-27  19.32
...           ...
2020-04-24  17.25
2020-04-27  17.82
2020-04-28  17.94
2020-04-29  17.55
2020-04-30  17.81

[500 rows x 1 columns]
            close
time
2018-04-23  13.65
2018-04-24  13.93
2018-04-25  13.46
2018-04-26  13.16
2018-04-27  13.64
...           ...
2020-04-24   4.61
2020-04-27   4.60
2020-04-28   4.98
2020-04-29   5.59
2020-04-30   5.54

[500 rows x 1 columns]
            close
time
2018-04-23  19.43
2018-04-24  19.43
2018-04-25  19.20
2018-04-26  19.40
2018-04-27  19.57
...           ...
2020-04-24  22.50
2020-04-27  24.00
2020-04-28  25.19
2020-04-29  25.77
2020-04-30  24.88

[500 rows x 1 columns]
            close
time
2018-04-23  29.71
2018-04-24  29.36
2018-04-25  28.50
2018-04-26  28.71
2018-04-27  29.23
...           ...
2020-04-24  37.60
2020-04-27  38.59
2020-04-28  40.14
2020-04-29  40.49
2020-04-30  38.34

[500 rows x 1 columns]
            close
time
2018-04-23   8.10
2018-04-24   8.00
2018-04-25   7.79
2018-04-26   7.92
2018-04-27   7.90
...           ...
2020-04-24  10.45
2020-04-27  11.50
2020-04-28  12.54
2020-04-29  12.51
2020-04-30  12.84

[500 rows x 1 columns]
            close
time
2018-04-23  10.87
2018-04-24  10.95
2018-04-25  10.76
2018-04-26  10.93
2018-04-27  11.17
...           ...
2020-04-24  13.00
2020-04-27  13.70
2020-04-28  14.77
2020-04-29  15.65
2020-04-30  15.15

[500 rows x 1 columns]
            close
time
2018-04-23  21.05
2018-04-24  20.94
2018-04-25  20.89
2018-04-26  21.65
2018-04-27  21.62
...           ...
2020-04-24  20.58
2020-04-27  21.06
2020-04-28  21.76
2020-04-29  22.37
2020-04-30  20.89

[500 rows x 1 columns]
            close
time
2018-04-23  15.94
2018-04-24  16.06
2018-04-25  16.09
2018-04-26  16.07
2018-04-27  16.50
...           ...
2020-04-24  33.23
2020-04-27  35.40
2020-04-28  35.06
2020-04-29  36.32
2020-04-30  35.52

[500 rows x 1 columns]
            close
time
2018-04-23  23.55
2018-04-24  23.47
2018-04-25  22.73
2018-04-26  23.65
2018-04-27  23.71
...           ...
2020-04-24  15.91
2020-04-27  16.63
2020-04-28  17.84
2020-04-29  18.81
2020-04-30  18.46

[500 rows x 1 columns]
            close
time
2018-04-23  21.07
2018-04-24  21.00
2018-04-25  20.37
2018-04-26  21.21
2018-04-27  21.29
...           ...
2020-04-24  15.95
2020-04-27  16.45
2020-04-28  17.25
2020-04-29  18.20
2020-04-30  18.05

[500 rows x 1 columns]
            close
time
2018-04-23  17.88
2018-04-24  18.80
2018-04-25  19.82
2018-04-26  19.61
2018-04-27  19.68
...           ...
2020-04-24  25.68
2020-04-27  25.05
2020-04-28  25.61
2020-04-29  26.64
2020-04-30  25.92

[500 rows x 1 columns]
             close
time
2018-04-23   66.02
2018-04-24   66.60
2018-04-25   66.92
2018-04-26   68.47
2018-04-27   67.97
...            ...
2020-04-24  104.43
2020-04-27  105.93
2020-04-28  110.43
2020-04-29  108.46
2020-04-30  104.66

[500 rows x 1 columns]
            close
time
2018-04-23  27.08
2018-04-24  26.85
2018-04-25  27.74
2018-04-26  27.56
2018-04-27  26.24
...           ...
2020-04-24  32.92
2020-04-27  33.44
2020-04-28  35.14
2020-04-29  36.08
2020-04-30  34.13

[500 rows x 1 columns]
            close
time
2018-04-23  14.36
2018-04-24  14.18
2018-04-25  13.76
2018-04-26  14.12
2018-04-27  14.36
...           ...
2020-04-24  20.55
2020-04-27  20.67
2020-04-28  20.20
2020-04-29  19.76
2020-04-30  19.79

[500 rows x 1 columns]
            close
time
2018-04-23  35.33
2018-04-24  35.38
2018-04-25  34.30
2018-04-26  34.26
2018-04-27  34.44
...           ...
2020-04-24  23.10
2020-04-27  24.07
2020-04-28  26.83
2020-04-29  27.89
2020-04-30  26.61

[500 rows x 1 columns]
            close
time
2018-04-23  32.20
2018-04-24  32.18
2018-04-25  32.57
2018-04-26  32.97
2018-04-27  33.08
...           ...
2020-04-24  36.72
2020-04-27  39.83
2020-04-28  40.92
2020-04-29  41.23
2020-04-30  40.08

[500 rows x 1 columns]
            close
time
2018-04-23  60.99
2018-04-24  60.12
2018-04-25  60.88
2018-04-26  61.09
2018-04-27  62.50
...           ...
2020-04-24  13.95
2020-04-27  13.90
2020-04-28  15.70
2020-04-29  15.67
2020-04-30  14.28

[500 rows x 1 columns]
            close
time
2018-04-23  37.66
2018-04-24  37.11
2018-04-25  38.59
2018-04-26  39.38
2018-04-27  39.82
...           ...
2020-04-24  39.13
2020-04-27  40.10
2020-04-28  38.65
2020-04-29  38.72
2020-04-30  39.41

[500 rows x 1 columns]
            close
time
2018-04-23  14.83
2018-04-24  14.80
2018-04-25  14.65
2018-04-26  15.06
2018-04-27  15.10
...           ...
2020-04-24  12.20
2020-04-27  12.55
2020-04-28  12.54
2020-04-29  13.09
2020-04-30  12.76

[500 rows x 1 columns]
            close
time
2018-04-23  29.99
2018-04-24  28.87
2018-04-25  29.05
2018-04-26  29.30
2018-04-27  29.50
...           ...
2020-04-24  13.49
2020-04-27  14.31
2020-04-28  14.58
2020-04-29  15.37
2020-04-30  14.50

[500 rows x 1 columns]
            close
time
2018-04-23  10.67
2018-04-24  10.44
2018-04-25  10.58
2018-04-26  10.74
2018-04-27  10.46
...           ...
2020-04-24   4.30
2020-04-27   4.30
2020-04-28   4.67
2020-04-29   5.06
2020-04-30   4.80

[500 rows x 1 columns]
            close
time
2018-04-23  45.24
2018-04-24  46.01
2018-04-25  45.67
2018-04-26  46.38
2018-04-27  46.05
...           ...
2020-04-24  43.76
2020-04-27  44.55
2020-04-28  44.61
2020-04-29  46.73
2020-04-30  44.86

[500 rows x 1 columns]
            close
time
2018-04-23  41.78
2018-04-24  42.04
2018-04-25  41.82
2018-04-26  42.19
2018-04-27  42.42
...           ...
2020-04-24  44.24
2020-04-27  45.69
2020-04-28  45.30
2020-04-29  45.76
2020-04-30  44.38

[500 rows x 1 columns]
            close
time
2018-04-23  17.00
2018-04-24  16.92
2018-04-25  16.56
2018-04-26  17.36
2018-04-27  17.37
...           ...
2020-04-24  38.61
2020-04-27  40.50
2020-04-28  41.48
2020-04-29  41.30
2020-04-30  39.84

[500 rows x 1 columns]