In [41]:
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd
import pytz

def baixa_cotacao(ticker):
    timezone = pytz.timezone("Etc/UTC")
    utc_from = datetime(2020, 1, 10, tzinfo=timezone)
    rates = mt5.copy_rates_from(ticker, mt5.TIMEFRAME_M5, utc_from, 1000)
    dados = pd.DataFrame(rates)
    dados['time']=pd.to_datetime(dados['time'], unit='s')
    dados = dados.set_index('time')
    dados = dados[['close', 'real_volume']]
    return dados

def concatenate(empresas):
    #downloading data
    dic = {}
    for i in empresas:
        try:
            dic[i] = baixa_cotacao(i)
            print(f'baixado: {i}')
        except:
            print(f'algum erro com: {i}')
    #concatenating        
    conc = False
    for k,v in dic.items():
        if not conc:
            data = dic[k]
            conc = True
        else:
            data = pd.concat([data,dic[k]],axis=1,join='inner')
    #changing columns names    
    colm = [] 
    for i in empresas:
        colm.append(['Close '+i])
        colm.append(['Volume '+i])

    flatList = [ item for elem in colm for item in elem]
    data.columns = flatList
    
    return data

In [42]:
empresas = ['ABEV3', 'AZUL4', 'B3SA3', 'BBAS3', 'BBDC3', 'BBDC4', 'BBSE3', 'BRAP4', 'BRDT3', 'BRFS3', 'BRKM5', 'BRML3', 'BTOW3', 'CCRO3', 'CIEL3', 'CMIG4', 'CSAN3', 'CSNA3', 'CVCB3', 'CYRE3', 'ECOR3', 'EGIE3', 'ELET3', 'ELET6', 'EMBR3', 'ENBR3', 'EQTL3', 'FLRY3', 'GGBR4', 'GOAU4', 'GOLL4', 'HYPE3', 'IGTA3', 'IRBR3', 'ITSA4', 'ITUB4', 'JBSS3', 'LAME4', 'LREN3', 'MGLU3', 'MRFG3', 'MRVE3', 'MULT3', 'PETR3', 'PETR4', 'QUAL3', 'RADL3', 'RAIL3', 'RENT3', 'SBSP3', 'SMLS3', 'SUZB3', 'TIMP3', 'UGPA3', 'USIM5', 'VALE3', 'VIVT4', 'VVAR3', 'WEGE3', 'YDUQ3', 'BIDI4']

In [43]:
mt5.initialize()

True

In [44]:
dados = concatenate(empresas)

baixado: ABEV3
baixado: AZUL4
baixado: B3SA3
baixado: BBAS3
baixado: BBDC3
baixado: BBDC4
baixado: BBSE3
baixado: BRAP4
baixado: BRDT3
baixado: BRFS3
baixado: BRKM5
baixado: BRML3
baixado: BTOW3
baixado: CCRO3
baixado: CIEL3
baixado: CMIG4
baixado: CSAN3
baixado: CSNA3
baixado: CVCB3
baixado: CYRE3
baixado: ECOR3
baixado: EGIE3
baixado: ELET3
baixado: ELET6
baixado: EMBR3
baixado: ENBR3
baixado: EQTL3
baixado: FLRY3
baixado: GGBR4
baixado: GOAU4
baixado: GOLL4
baixado: HYPE3
baixado: IGTA3
baixado: IRBR3
baixado: ITSA4
baixado: ITUB4
baixado: JBSS3
baixado: LAME4
baixado: LREN3
baixado: MGLU3
baixado: MRFG3
baixado: MRVE3
baixado: MULT3
baixado: PETR3
baixado: PETR4
baixado: QUAL3
baixado: RADL3
baixado: RAIL3
baixado: RENT3
baixado: SBSP3
baixado: SMLS3
baixado: SUZB3
baixado: TIMP3
baixado: UGPA3
baixado: USIM5
baixado: VALE3
baixado: VIVT4
baixado: VVAR3
baixado: WEGE3
baixado: YDUQ3
baixado: BIDI4

In [46]:
len(dados.columns)

122

In [39]:
len(dados)

987

In [47]:
dados.to_excel('cotacoes_completa.xlsx')

In [48]:
dados

,Close ABEV3,Volume ABEV3,Close AZUL4,Volume AZUL4,Close B3SA3,Volume B3SA3,Close BBAS3,Volume BBAS3,Close BBDC3,Volume BBDC3,...,Close VIVT4,Volume VIVT4,Close VVAR3,Volume VVAR3,Close WEGE3,Volume WEGE3,Close YDUQ3,Volume YDUQ3,Close BIDI4,Volume BIDI4
time,,,,,,,,,,,,,,,,,,,,,
2019-12-20 13:45:00,18.84,46100,56.97,109200,47.83,18300,49.97,12400,30.16,21500,...,55.19,8500,11.02,138400,33.92,7200,48.08,16000,14.84,5200
2019-12-20 13:50:00,18.86,120900,56.86,6500,47.80,29100,49.90,29700,30.09,23300,...,55.17,13400,11.02,98700,33.91,10500,48.09,8500,14.82,2100
2019-12-20 13:55:00,18.86,52100,56.79,10400,47.84,74700,49.84,123400,30.02,118500,...,55.13,9600,10.99,284700,33.93,9300,47.99,23400,14.83,1800
2019-12-20 14:00:00,18.84,158600,56.61,11200,47.76,43800,49.74,185500,30.00,39000,...,55.12,5500,10.99,270800,33.88,15100,47.83,16400,14.83,12500
2019-12-20 14:05:00,18.86,66300,56.61,7500,47.78,28900,49.78,34300,30.00,28100,...,55.18,10100,10.99,303500,33.85,7800,47.94,11800,14.85,700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-09 17:30:00,18.74,171100,57.23,29800,44.13,154200,50.17,108000,29.84,27200,...,54.66,19900,11.60,387400,33.18,75900,44.97,35100,17.05,5300
2020-01-09 17:35:00,18.75,165400,57.24,24300,44.10,158900,50.16,98900,29.81,22500,...,54.67,19300,11.60,229500,33.11,42400,45.00,39000,17.06,16600
2020-01-09 17:40:00,18.80,425900,57.17,24100,44.25,288600,50.30,233100,29.91,94100,...,54.77,41200,11.62,315500,33.23,109200,44.98,37500,17.11,10500
2020-01-09 17:45:00,18.83,294000,57.16,30500,44.24,252500,50.35,251700,29.97,79000,...,54.83,30800,11.62,256400,33.29,87500,44.93,23500,17.08,6000
2020-01-09 17:50:00,18.82,1676400,57.28,196100,43.95,2269000,50.45,2400800,30.05,324200,...,54.82,203500,11.66,2227100,33.16,476800,45.06,165500,17.23,174700