In [56]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt 
import seaborn
import statsmodels.api as sm
from scipy.stats import zscore
from statsmodels import regression
from statsmodels.tsa.stattools import coint

In [64]:
data = pd.read_excel('/home/daniel/Desktop/Projetos/mql_python/Relatório 1/dados_relatorio.xlsx')
# tickers = ['close IBOV', 'close ABEV3', 'close B3SA3', 'close BBAS3', 'close BBDC3', 'close BBDC4', 'close BEEF3', 'close BRAP4', 'close BRFS3', 'close BRKM5', 'close BRML3', 'close BTOW3', 'close CCRO3', 'close CIEL3', 'close CMIG4', 'close COGN3', 'close CPFE3', 'close CSAN3', 'close CSNA3', 'close CYRE3', 'close ECOR3', 'close ELET3', 'close ELET6', 'close EMBR3', 'close ENBR3', 'close EQTL3', 'close FLRY3', 'close GGBR4', 'close GOAU4', 'close GOLL4', 'close HGTX3', 'close HYPE3', 'close IGTA3', 'close ITSA4', 'close ITUB4', 'close JBSS3', 'close LAME4', 'close LREN3', 'close MGLU3', 'close MRFG3', 'close MRVE3', 'close MULT3', 'close NTCO3', 'close PETR3', 'close PETR4', 'close QUAL3', 'close RADL3', 'close RAIL3', 'close RENT3', 'close SANB11', 'close SBSP3', 'close SULA11', 'close SUZB3', 'close TIMP3', 'close TOTS3', 'close UGPA3', 'close USIM5', 'close VALE3', 'close VIVT4', 'close WEGE3', 'close YDUQ3']
# dados = data[tickers]

In [65]:
tickers = ['close IBOV', 'close B3SA3', 'close BBAS3', 'close BBDC4','close ITSA4']
dados = data[tickers][1000:]

In [67]:
dados

      close IBOV  close B3SA3  close BBAS3  close BBDC4  close ITSA4
1000       37717         9.00        10.72         8.20         3.75
1001       38031         8.97        10.96         8.37         3.81
1002       37497         8.89        10.87         8.28         3.87
1003       38376         9.17        10.71         8.38         3.88
1004       38630         9.26        10.95         8.39         3.96
...          ...          ...          ...          ...          ...
1970      115121        47.96        50.45        32.23        13.37
1971      115863        45.78        51.98        32.43        13.46
1972      117203        45.57        52.57        32.83        13.70
1973      116534        43.19        52.34        32.71        13.64
1974      115645        41.97        52.19        32.66        13.60

[975 rows x 5 columns]

In [68]:
import time

start = time.process_time()
s = 0
for index in dados.index:
    for stock in dados.columns:
        s+=1
#         print(dados[stock][dados.index == index].values[0])
# your code here    
print(time.process_time() - start)

0.012162351000029048

In [69]:
start = time.process_time()
s =0 
for stock in dados.columns:
    for index in dados.index:
        s+=1
#         print(stock)
#         print(dados[stock][dados.index == index].values[0])
        
print(time.process_time() - start)

0.0071255870000186405

In [70]:
momentaneo = dados.copy()

In [71]:
mom = np.log(momentaneo).pct_change()[1:]
dados = dados[1:]
mom

      close IBOV  close B3SA3  close BBAS3  close BBDC4  close ITSA4
1001    0.000787    -0.001520     0.009334     0.009752     0.012009
1002   -0.001341    -0.004083    -0.003444    -0.005088     0.011681
1003    0.002200     0.014193    -0.006215     0.005679     0.001907
1004    0.000625     0.004408     0.009346     0.000561     0.015053
1005    0.004256    -0.004388     0.026966     0.019752     0.025245
...          ...          ...          ...          ...          ...
1970   -0.000007     0.002879    -0.000505    -0.002308    -0.003434
1971    0.000551    -0.012020     0.007620     0.001781     0.002587
1972    0.000986    -0.001202     0.002857     0.003524     0.006798
1973   -0.000490    -0.014045    -0.001107    -0.001049    -0.001677
1974   -0.000656    -0.007609    -0.000725    -0.000439    -0.001124

[974 rows x 5 columns]

In [9]:
def operador_high(dados, gatilho, encerra, carteira, t1,t2):
    posicao = 0 #1 - posicionado | 0 - neutro
    compra = 0
    venda = 0
    
    fin_long  = 0 #financeiro ponta long
    fin_short = 0 #financeiro ponta short 
    l_resultado = []
    l_cart = []
    
    for index in range(len(dados)):
        zs = dados['zs_spread'][dados.index == index+1].values[0]
        p_s1 = float(dados[t1][dados.index == index+1].values)
        p_s2 = float(dados[t2][dados.index == index+1].values)

        #abre operacao
        if zs >= gatilho and posicao == 0:
            q = (p_s1/p_s2) 
            v = carteira/2/p_s1 #volume de acordo com carteira
            
            fin_long  += p_s1*v   # 
            fin_short -= p_s2*v*q #  
            
            posicao = 1 #esta posicionado
        #encerra
        elif (zs > -encerra and zs < encerra) and posicao == 1:
#             print(f' C {compra:.2f} | V {venda:.2f} | ')
            fin_long   -= p_s1*v   #creditando venda da posicao
            fin_short  += p_s2*v*q #debita encerramento posicao
            
            posicao = 0 #esta neutro
            
            resultado = fin_long + fin_short
#             print(f'res: {resultado:.2f} | l:{fin_long:.2f} | s:{fin_short:.2f}')
            l_resultado.append(resultado)
            carteira+=resultado
            l_cart.append(carteira)
#             print(f'cart: {carteira:.2f}\n')
            
    return l_resultado, l_cart

In [72]:
start = time.process_time()

c = 0
tickers = mom.columns.to_list()
for index in range(45,len(mom)):
    for i in range(len(tickers)-1):
        for j in range(i+1, len(tickers)-1): #todas as possibilidades de pares
            t1,t2 = tickers[i], tickers[j]
            s1,s2 = mom[t1][c:index],mom[t2][c:index]
            if coint(s1,s2)[1] < 0.01:
                s1 = sm.add_constant(s1)
                results = sm.OLS(s2,s1).fit()
                s1 = s1[t1]
                b = results.params[t1]
                spread = s2 - (b*s1)
                zs = zscore(spread)[-1]
                if zs >= 1:
                    #chama funcao operador
                    continue
            else:
                continue #não são cointegrados

#                 print(f'não são coint {t1,t2} {coint(s1,s2)[1]}')            
    c+=1
    
print(time.process_time() - start)

35.36721942199995

In [73]:
contador = 0
for i in range(len(tickers)):
    for j in range(i+1, len(tickers)-1):
        if (coint(mom[tickers[i]],mom[tickers[j]])[1]) > .1:
            print(f'{tickers[i]} and {tickers[j]} nao cointegrated')

In [74]:
mom.columns.to_list()

['close IBOV', 'close B3SA3', 'close BBAS3', 'close BBDC4', 'close ITSA4']

In [181]:
class Pair_trading():
    def __init__(self, dados, t1, t2, index):
        self.t1, self.t2 = t1, t2
        self.index = index
        self.dados = dados 
        
    def realiza_operacao(self):
        #apenas financeiro
        return (dados[t1][dados.index == self.index])

In [182]:
banana = Pair_trading(dados,t1,t2,1043)

In [183]:
print(banana.realiza_operacao())

1043    17.11
Name: close BBAS3, dtype: float64

In [184]:
t1

'close BBAS3'

In [185]:
trade1

In [186]:
t1

'close BBAS3'