In [1]:
ls

cotacaotreino_win_dol.xlsx            modelo_final.ipynb
Download_dados_relatorio_final.ipynb

In [2]:
import pandas as pd

In [3]:
data = pd.read_excel('cotacaotreino_win_dol.xlsx')

In [4]:
data.head()

,time,open WIN$,high WIN$,low WIN$,close WIN$,volumeWIN$,open DOL$,high DOL$,low DOL$,close DOL$,volumeDOL$
0,2016-12-21 13:25:00,70695,70852,70689,70815,8192,3829.959,3831.106,3829.959,3831.106,645
1,2016-12-21 13:30:00,70815,70815,70477,70544,22378,3831.106,3832.252,3830.532,3831.106,1160
2,2016-12-21 13:35:00,70538,70664,70501,70622,8733,3831.106,3831.106,3829.959,3830.532,860
3,2016-12-21 13:40:00,70628,70664,70520,70556,6383,3831.106,3831.106,3828.239,3828.812,885
4,2016-12-21 13:45:00,70556,70652,70532,70592,5014,3829.386,3831.106,3829.386,3831.106,1295

In [5]:
data = data[['close WIN$','close DOL$']]

In [7]:
data

       close WIN$  close DOL$
0           70815    3831.106
1           70544    3831.106
2           70622    3830.532
3           70556    3828.812
4           70592    3831.106
...           ...         ...
89243       80275    5492.138
89244       80315    5492.639
89245       80180    5494.142
89246       80140    5498.650
89247       80100    5501.154

[89248 rows x 2 columns]

In [45]:
class Fica_rico():
    def __init__(self,dados):
        self.dados = dados[:2000]
    
    def calcula_zscore_spread(self, period):
        c = 0 #contador
        print(self.dados.tail())
#         for i in range(len())

In [46]:
modelo = Fica_rico(data)

In [47]:
modelo.banana.head()

AttributeError: 'Fica_rico' object has no attribute 'banana'

In [48]:
modelo.calcula_zscore_spread(1)

      close WIN$  close DOL$
1995       78344    3691.209
1996       78320    3694.076
1997       78423    3693.502
1998       78483    3693.502
1999       78513    3694.649